@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
    int subcount = 0;
}

 <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Category Table</h3>
                           <a class="btn btn-warning" asp-action="create">Add Category</a>
                            <div class="table-responsive">
                                <table class="table text-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">No</th>
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">ImgUrl</th>
                                            <th class="border-top-0">SettingsCategory</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                       {
                                            if (item.ParentId == null)
                                            {
                                                count++;
                                                  <tr>
                                                      <td>@count</td>
                                                      <td>@item.Name</td>
                                          
                                                      <td>
                                                          <img width="50" src="~/assets/images/@item.ImgUrl"/>
                                                      </td>
                                                      <td class="text-nowrap">

                                                          <a  class="mx-2 btn btn-secondary " asp-action="update" asp-route-id="@item.Id"><i  class="fas fa-database"></i></a>
                                                          <a class="mx-2 btn btn-primary " asp-action="detail" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                                                          <a class="mx-2 btn btn-danger " asp-action="delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                                                      </td>
                                              
                                                </tr>
                                            }
                                            else
                                            {
                                                break;

                                            }
                                        }
                                         
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Sub Category</h3>
                           <a class="btn btn-warning" asp-action="subcreat">Create Sub Category</a>
                            <div class="table-responsive">
                                <table class="table text-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">No</th>
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">ParentName</th>
                                            <th class="border-top-0">SettingsCategory</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var sub in Model)
                                       {
                                            if (sub.ParentId != null)
                                            {
                                                subcount++;
                                                  <tr>
                                                      <td>@subcount</td>
                                                      <td>@sub.Name</td>
                                                      <td>@sub.Parent.Name</td>
                                                      <td class="text-nowrap">

                                                          <a  class="mx-2 btn btn-secondary " asp-action="update" asp-route-id="@sub.Id"><i  class="fas fa-database"></i></a>
                                                          <a class="mx-2 btn btn-primary " asp-action="detail" asp-route-id="@sub.Id"><i class="fas fa-info-circle"></i></a>
                                                          <a class="mx-2 btn btn-danger " asp-action="delete" asp-route-id="@sub.Id"><i class="fas fa-trash"></i></a>
                                                      </td>
                                              
                                                </tr>
                                            }
                                            @*else
                                            {
                                                break;

                                            }*@
                                        }
                                         
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



