@model Product
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <h1>Product</h1>
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-group">
                 <label asp-for="Name" ></label>
                 <input asp-for="Name"  class="form-control"  placeholder="Enter Name">
                 <span class="text-danger" asp-validation-for="Name"></span>
              </div>

              <div class="form-group">
                 <label asp-for="Description" ></label>
                 <input asp-for="Description"  class="form-control"  placeholder="Enter Name">
                 <span class="text-danger" asp-validation-for="Description"></span>
              </div>

              <div class="form-group">
                 <label asp-for="Price" ></label>
                 <input asp-for="Price"  class="form-control"   placeholder="Enter Price">
                 <span class="text-danger" asp-validation-for="Price"></span>
              </div>

              <div class="form-group">
                 <label asp-for="Count" ></label>
                 <input asp-for="Count"  class="form-control"   placeholder="Enter Count">
                 <span class="text-danger" asp-validation-for="Count"></span>
              </div>

              <div class="form-group">
                 <label asp-for="TaxPercent" ></label>
                 <input asp-for="TaxPercent"  class="form-control"   placeholder="Tax percent">
                 <span class="text-danger" asp-validation-for="TaxPercent"></span>
              </div>

              <div class="form-group">
                 <label asp-for="DiscountPercent" ></label>
                 <input asp-for="DiscountPercent"  class="form-control"   placeholder="Discount percent?">
                 <span class="text-danger" asp-validation-for="DiscountPercent"></span>
              </div>

              <div class="form-group">
                <label asp-for="IsFeatured"></label>
                <input asp-for="IsFeatured" type="checkbox"   class="form-check-input check" ><br />
                <span asp-validation-for="IsFeatured" class="text-danger"></span>
              </div>

              <div class="form-group">
               
                <input asp-for="IsNewArrivel"  type="checkbox"  class="form-check-input check"  ><br />
                <label asp-for="IsNewArrivel"></label>
                <span asp-validation-for="IsNewArrivel" class="text-danger"></span>
              </div>

              <div class="form-group">
                <input asp-for="IsBestSeller" type="checkbox"  class="form-check-input check"   ><br />
                <label asp-for="IsBestSeller"></label>
                <span asp-validation-for="IsBestSeller" class="text-danger"></span>
              </div>

              <select asp-for="CategoryId" asp-items="@ViewBag.Categories"  class="form-select select1" >
                 
                  <option selected>Select the Category</option>
                  
                </select>
             <span class="text-danger" asp-validation-for="CategoryId"></span>

                <br />
                 <select asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-select " >
                 
                  <option selected>Select the Brand</option>
             
                </select>
                 <span class="text-danger" asp-validation-for="BrandId"></span>

                <br />
               
                @foreach (var item in Model.Tags)
                   {
                     <input name="TgIdss" id="TgIdss" value="@item.Id" class="form-check-input" type="checkbox" @(Model.TagNames.Contains(item.Name)?"checked=\"checked\"":"")>@item.Name <br />
                     <label for="TgIdss"></label>
                   }
                <br />

                
                <div class="form-group">
                 <label asp-for="Photos" ></label>
                 <input asp-for="Photos"  class="form-control"   placeholder="Choose Photo">
                 <span class="text-danger" asp-validation-for="Photos"></span>
              </div>

              <button type="submit" class="btn btn-success">Submit</button>
             <a class="btn btn-dark" asp-action="Index">Go Back</a>
        </form>
       
</div>

